<div class="midiquinze-footer <%= background_color unless current_page?(root_path) %> height-8vh letter-spacing-1px position-fixed bottom-0 d-flex justify-content-between width-100pcminus200px width-100pc px-100px align-items-center">
  <div class="midiquinze-footer-address">
    <p class="m-0 font-size-11px link-<%= opposite_color %>">
      <%= link_to "https://www.google.fr/maps/place/Midi+Quinze/@48.869407,2.349129,14.6z/data=!4m5!3m4!1s0x47e66e110bcfffff:0x96001c6d78485f62!8m2!3d48.8696076!4d2.3537801", target: "_blank", class: "desktop-footer-link-#{opposite_color} hover-border-bottom-gold text-decoration-none" do %>
        33 RUE DES PETITES ECURIES - PARIS 10.
      <% end %>
    </p>
  </div>
  <div class="midiquinze-footer-social">
    <p class="d-flex m-0 link-<%= opposite_color %> font-size-11px">
      <%= link_to "INSTAGRAM", "https://www.instagram.com/midi.quinze/", target: "_blank", class: "desktop-footer-link-#{opposite_color} mx-7px hover-border-bottom-gold text-decoration-none" %>
      /
      <%= link_to "FACEBOOK", "https://www.facebook.com/midiquinzeparis/", target: "_blank", class: "desktop-footer-link-#{opposite_color} mx-7px hover-border-bottom-gold text-decoration-none" %>
      /
      <%= link_to "LINKEDIN", "https://www.linkedin.com/company/midi-quinze/", target: "_blank", class: "desktop-footer-link-#{opposite_color} mx-7px hover-border-bottom-gold text-decoration-none" %>
    </p>
  </div>
</div>
