<!-- The overlay -->
<div id="midiquinze-mobile-navbar-overlay" class="mobile-navbar-overlay d-flex flex-column justify-content-around background-color-<%= color %> mt-neg6em">

  <div class="d-flex align-items-end justify-content-around height-8vh width-100vw">
    <%= link_to root_path do %>
      <%= image_tag "mq_logo_#{opposite_color}.png", class: "height-8vh width-56vw" %>
    <% end %>

    <%= image_tag "mq_burger_#{opposite_color}", id: "burger-closebtn", class: "height-1dot3em" %>
  </div>

  <!-- Overlay content -->
  <div class="mobile-navbar-overlay-content">
    <%= link_to projects_path do %>
      <h1 class="color-<%= opposite_color %> m-0">WORK</h1>
    <% end %>
    <%= link_to about_path do %>
      <h1 class="color-<%= opposite_color %> m-0">STUDIO</h1>
    <% end %>
    <%= link_to about_path do %>
      <h1 class="color-<%= opposite_color %> m-0">CONTACT</h1>
    <% end %>
  </div>

  <div class="mobile-navbar-overlay-footer d-flex align-items-center color-<%= opposite_color %> height-8vh px-8pc pt-16vh">
    <div class="mobile-navbar-overlay-footer-social d-flex width-100pc">
      <i class="fab fa-instagram font-size-24px mr-8pc"></i>
      <i class="fab fa-behance font-size-24px mr-8pc"></i>
      <i class="fab fa-linkedin-in font-size-24px"></i>
    </div>

    <%= link_to change_color_path, method: :post do %>
      <div class="color-button color-button-<%= opposite_color %> height-20px width-20px border-radius-50pc"></div>
    <% end %>
  </div>

</div>
