<div class="midiquinze-navbar <%= background_color if current_page?(about_path) %> d-flex height-18vh justify-content-between letter-spacing-1px mt-neg1px position-fixed pb-3pc px-100px width-100pc z-index-100">

  <%= link_to root_path, class: "width-371px" do %>
    <%= image_tag "mq_logo_#{opposite_color}.png", id: "mq-glitch-logo", class: "display-none height-168px ml-neg86px mt-neg33px z-index-neg100", data: { gif1: asset_url("mq_glitch_1_#{color}.gif"), gif2: asset_url("mq_glitch_2_#{color}.gif"), gif3: asset_url("mq_glitch_3_#{color}.gif"), gif4: asset_url("mq_glitch_4_#{color}.gif"), gif4: asset_url("mq_glitch_4_#{color}.gif"), gif5: asset_url("mq_glitch_5_#{color}.gif"), gif6: asset_url("mq_glitch_6_#{color}.gif") }%>

    <%= image_tag "mq_logo_#{opposite_color}.png", id: "mq-logo", class: "height-100px" %>
  <% end %>

  <div class="midiquinze-navbar-items d-flex align-items-end height-100px">
    <h6 class="midiquinze-navbar-links font-weight-400 m-0">
      <%= if_current_page_navbar %>
    </h6>

    <%= link_to change_color_path, method: :post do %>
      <div class="color-button color-button-<%= opposite_color %> height-13px width-13px border-radius-50pc mb-8px ml-7px mr-7px"></div>
    <% end %>
  </div>
</div>
