<div id="about-accordion" class="accordion mb-100px mt-50px" >

  <div id="headingOne" class="accordion-title">
    <h1 class="font-family-DINpro font-size-26px desktop-accordion-link-<%= opposite_color %> hover-border-bottom-100-gold width-max-content letter-spacing-2px m-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      TEAM
    </h1>
  </div>
  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#about-accordion"> <!-- add class show if needed -->
    <div class="mt-2em mb-24px">
      <% @members.each do |member| %>
        <p class="letter-spacing-1px line-height-1dot2em m-0" style="width: 90%;"><span><%= member.name.upcase %></span>  /  <span class="font-size-11px"><%= member.role.capitalize %></span></p>
      <% end %>
    </div>
  </div>

  <div id="headingTwo" class="accordion-title">
    <h1 class="desktop-accordion-link-<%= opposite_color %> font-family-DINpro font-size-26px hover-border-bottom-100-gold width-max-content letter-spacing-2px m-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      CLIENTS
    </h1>
  </div>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#about-accordion">
    <div class="mt-2em mb-24px">
      <p class="letter-spacing-1px">
        <% @clients.each do |client| %>
          <%= link_to root_path(anchor: client.projects.empty? ? "" : "#{client.projects.first.slug}"), class: "color-#{opposite_color} hover-color-gold-text-decoration-none font-family-roboto" do %>
            <%= client.name %>
          <% end %>
          <%= "/" unless client == @clients.last %>
        <% end %>
      </p>
    </div>
  </div>

  <%= link_to about_path(anchor: "headingThree", from: "contact"), class: "color-#{opposite_color} text-decoration-none" do %>
    <div id="headingThree" class="accordion-title <%= params[:from] ? "activate-title" : "" %> ">
      <h1 class="desktop-accordion-link-<%= opposite_color %> font-family-DINpro font-size-26px hover-border-bottom-100-gold width-max-content letter-spacing-2px m-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        CONTACT
      </h1>

    </div>
  <% end %>

  <% if params[:from] == "contact" %>
    <%= render partial: 'pages/about/desktop/accordion_contact', locals: {opposite_color: @opposite_color} %>
  <% end %>


</div>
