<div id="overlay-<%= project.slug %>-cover<%= project_index %>" class="mq-overlay background-color-<%= opposite_color %> position-absolute" style="height: calc(100vh - 8vh - 18vh);">
  <div class="mq-overlay-content">

    <%= image_tag "mq-plus-#{color}.png", id: "closebtn-#{project.slug}-cover#{project_index}", class: "cursor-pointer height-24px position-absolute right-30px top-24px height-24px" %>

    <div class="color-<%= color %> font-weight-300 letter-spacing-1px px-20px pt-26px">
      <p class="m-0">
        <span class="font-weight-700"><%= project.client.name.upcase %></span> <span><%= project.time %></span>
        <div>
          <% project.works.each do |project_work| %>
            <%= project_work.job.name.upcase %>
            <br>
          <% end %>
        </div>
        <div class="mt-50px line-height-initial">
          <%= project.description %>
        </div>
        <div class="mt-50px">
          En collaboration avec <%= project.collaborator.name %>
        </div>
        <div>
          Client: <%= project.client.name.upcase %>
        </div>
        <div>
          Crédits photos ©dzedjdao
        </div>
      </p>

    </div>

  </div>
</div>


