<div id="overlay-<%= project.slug %>-cover<%= project_index %>" class="mq-overlay background-color-<%= opposite_color %> position-absolute" style="height: calc(100vh - 24vh);">
  <div class="mq-overlay-content">

    <span id="closebtn-<%= project.slug %>-cover<%= project_index %>" class="closebtn height-100px width-100px cursor-pointer position-absolute right-30px top-24px d-flex justify-content-end align-items-start">
      <%= image_tag "mq-plus-#{color}.png", id: "closebtnplus-#{project.slug}-cover#{project_index}", class: "cursor-pointer height-24px" %>
    </span>

    <div class="color-<%= color %> font-weight-300 letter-spacing-1px pl-2em pr-4em pt-26px">
      <p class="m-0 letter-spacing-0dot8px">
        <span class="font-weight-700"><%= project.client.name.upcase %></span> <span><%= project.time %></span>
        <div>
          <% project.works.each do |project_work| %>
            <%= project_work.job.name.upcase %>
            <br>
          <% end %>
        </div>
        <div class="font-size-14px mt-50px line-height-initial">
          <%= project.description %>
        </div>
        <div class="mt-50px">
          <div>
            <span class="border-bottom-1px-solid-<%= color %> pb-2px">Client:</span> <%= project.client.name.upcase %>
          </div>
          <% unless project.collaborations.empty? %>
            <% project.collaborators.each do |collaborator| %>
              <div>
                <span class="border-bottom-1px-solid-<%= color %> pb-2px"><%= collaborator.role %>:</span> <%= collaborator.name %>
              </div>
            <% end %>
          <% end %>
        </div>
      </p>

    </div>

  </div>
</div>


