<div class="mq-home-messages d-flex flex-column height-100pc justify-content-center">

  <% if Time.now.hour == 12 && Time.now.min == 15 %>
    <h1 class="font-family-DINpro font-size-64px">
      BONJOUR
      <br>
      WE ARE <%= Time.now.hour %>:<%= Time.now.min %>, A FRENCH
      <br>
      GRAPHIC DESIGN STUDIO.
    </h1>
    <h4 class="letter-spacing-1px">(SORRY, WE DON'T SERVE FOOD)</h4>
  <% elsif Date.today.month == 12 && Date.today.day == 12 %>
    <h1 class="font-family-DINpro font-size-64px">
      IT'S <%= Date::MONTHNAMES[Date.today.month].upcase %> <%= Date.today.day %>TH.
      <br>
      WE ARE CELEBRATING
      <br>
      ROMAIN'S BIRTHDAY!
    </h1>
    <h4 class="letter-spacing-1px">(ALL DAY LONG)</h4>
  <% elsif Date.today.month == 12 && Date.today.day == 15 %>
    <h1 class="font-family-DINpro font-size-64px">
      IT'S <%= Date::MONTHNAMES[Date.today.month].upcase %> <%= Date.today.day %>TH.
      <br>
      WE ARE CELEBRATING
      <br>
      JEREMIE'S BIRTHDAY!
    </h1>
    <h4 class="letter-spacing-1px">(ALL DAY LONG)</h4>
  <% elsif Date.today.month == 12 && Date.today.day == 25 %>
    <h1 class="font-family-DINpro font-size-64px">
      IT'S <%= Date.today.month %> <%= Date.today.day %>TH.
      <br>
      WE ARE CLOSED.
      <br>
    </h1>
    <h4 class="letter-spacing-1px">(MERRY CHRISTMAS)</h4>
  <% elsif Date.today.month == 11 && Date.today.day == 19 %>
    <h1 class="font-family-DINpro font-size-64px">
      IT'S <%= Date.today.month %> <%= Date.today.day %>TH.
      <br>
      WE ARE CELEBRATING
      <br>
      CL'S BIRTHDAY!
    </h1>
    <h4 class="letter-spacing-1px">(ALL DAY LONG)</h4>
  <% elsif Time.now.hour >= 0 && Time.now.hour <= 4 %>
    <h1 class="font-family-DINpro font-size-64px">
      IL EST <%= Time.now.hour %>:<%= Time.now.min %>.
      <br>
      ET NOUS SOMMES FERMES.
      <br>
      OU VRAIMENT BLEUS.
    </h1>
    <h4 class="letter-spacing-1px">(FRENCH JOKE <%= image_tag "white-smiley.png", class: "height-20px mb-5px" %>)</h4>
  <% elsif Time.now.hour >= 19 && Time.now.hour <= 0 %>
    <h1 class="font-family-DINpro font-size-64px">
      IL EST <%= Time.now.hour %>:<%= Time.now.min %>.
      <br>
      ET NOUS SOMMES FERMES.
      <br>
      OU VRAIMENT BLEUS.
    </h1>
    <h4 class="letter-spacing-1px">(FRENCH JOKE <%= image_tag "white-smiley.png", class: "height-20px mb-5px" %>)</h4>
  <% else %>
    <h1 class="font-family-DINpro font-size-64px">
      <% if Time.now.min < 10 %>
        IL EST <%= Time.now.hour %>:0<%= Time.now.min %>
      <% else %>
        IL EST <%= Time.now.hour %>:<%= Time.now.min %>
      <% end %>
      <br>
      ET NOUS SOMMES OUVERTS.
      <br>
      OU BLEU.
    </h1>
    <h4 class="letter-spacing-1px">(FRENCH JOKE <%= image_tag "white-smiley.png", class: "height-20px mb-5px" %>)</h4>
  <% end %>

  <div class="d-flex justify-content-center pt-50px">
    <%= image_tag "white-arrow-down.png", class: "height-45px" %>
  </div>
</div>
