<div class="mq-home-messages d-flex flex-column justify-content-center pt-18vh" style="height: calc(100vh - 8vh);">

  <% if Time.now.hour == 12 && Time.now.min == 15 %> <!-- 12:15 -->
    <h1 class="font-family-DINpro font-size-14vh line-height-0dot9">
      BONJOUR!
      <br>
      WE ARE <%= Time.now.hour %>:<%= Time.now.min %>, A FRENCH
      <br>
      GRAPHIC DESIGN STUDIO.
    </h1>
    <h6 class="color-gold letter-spacing-1px">(SORRY, WE DON'T SERVE FOOD)</h6>

  <% elsif Date.today.month == 7 && Date.today.day == 2 %> <!-- Cléo -->
    <h1 class="font-family-DINpro font-size-14vh line-height-0dot9">
      IT'S <%= Date::MONTHNAMES[Date.today.month].upcase %> <%= Date.today.day %>ND,
      <br>
      LEA IS BLOWING
      <br>
      TWENTY FOUR CANDLES!
    </h1>
    <h6 class="color-gold letter-spacing-1px">(HAPPY BIRTHDAY!)</h6>

  <% elsif Date.today.month == 8 && Date.today.day == 19 %> <!-- Cléo -->
    <h1 class="font-family-DINpro font-size-14vh line-height-0dot9">
      IT'S <%= Date::MONTHNAMES[Date.today.month].upcase %> <%= Date.today.day %>TH,
      <br>
      LAURA IS ENJOYING
      <br>
      HER DAY
    </h1>
    <h6 class="color-gold letter-spacing-1px">(HAPPY BIRTHDAY!)</h6>

  <% elsif Date.today.month == 11 && Date.today.day == 19 %> <!-- Cléo -->
    <h1 class="font-family-DINpro font-size-14vh line-height-0dot9">
      IT'S <%= Date.today.strftime('%B').upcase %> <%= Date.today.day %>TH,
      <br>
      WE ARE CELEBRATING
      <br>
      CLEO'S BIRTHDAY!
    </h1>
    <h6 class="color-gold letter-spacing-1px">(ALL DAY LONG)</h6>

  <% elsif Date.today.month == 12 && Date.today.day == 12 %> <!-- Romain -->
    <h1 class="font-family-DINpro font-size-14vh line-height-0dot9">
      IT'S <%= Date::MONTHNAMES[Date.today.month].upcase %> <%= Date.today.day %>TH,
      <br>
      WE ARE CELEBRATING
      <br>
      ROMAIN'S BIRTHDAY!
    </h1>
    <h6 class="color-gold letter-spacing-1px">(ALL DAY LONG)</h6>

  <% elsif Date.today.month == 12 && Date.today.day == 15 %> <!-- Jerémie -->
    <h1 class="font-family-DINpro font-size-14vh line-height-0dot9">
      IT'S <%= Date::MONTHNAMES[Date.today.month].upcase %> <%= Date.today.day %>TH,
      <br>
      JEREMIE IS EATING A SPECIAL CAKE
    </h1>
    <h6 class="color-gold letter-spacing-1px">(HAPPY BIRTHDAY!)</h6>

  <% elsif Date.today.month == 4 && Date.today.day == 1 %> <!-- April's Fool -->
    <h1 class="font-family-DINpro font-size-14vh line-height-0dot9">
      IT'S APRIL FOOL'S DAY,
      <br>
      A FULL DAY OF JOKES!
    </h1>
    <h6 class="color-gold letter-spacing-1px">(WE LOVE THAT)</h6>

  <% elsif Date.today.month == 12 && Date.today.day == 25 %> <!-- Christmas -->
    <h1 class="font-family-DINpro font-size-14vh line-height-0dot9">
      IT'S <%= Date::MONTHNAMES[Date.today.month].upcase %> <%= Date.today.day %>TH.
      <br>
      WE ARE CLOSED.
      <br>
    </h1>
    <h6 class="color-gold letter-spacing-1px">(MERRY CHRISTMAS)</h6>

  <% elsif Date.today.month == 12 && Date.Today.day <= 21 && Date.today.day >= 29 %>
    <h1 class="font-family-DINpro font-size-14vh line-height-0dot9">
      IT'S <%= Date::MONTHNAMES[Date.today.month].upcase %> <%= Date.today.day %>TH.
      <br>
      WE ARE SANTACLOSED.
      <br>
    </h1>
    <h6 class="color-gold letter-spacing-1px">(MERRY CHRISTMAS)</h6>


  <% elsif (Time.now.hour <= 9 || Time.now.hour >= 19) %> <!-- closed -->
    <h1 class="font-family-DINpro font-size-14vh line-height-0dot9">
      <% if Time.now.min < 10 %>
        IL EST <%= Time.now.hour %>:0<%= Time.now.min %>.
      <% elsif Time.now.min < 10 && Time.now.hour %>
        IL EST 0<%= Time.now.hour %>:0<%= Time.now.min %>.
      <% elsif Time.now.hour < 10 %>
        IL EST 0<%= Time.now.hour %>:<%= Time.now.min %>.
      <% else %>
        IL EST <%= Time.now.hour %>:<%= Time.now.min %>.
      <% end %>
      <br>
      ET NOUS SOMMES <%= "fermés".upcase %>.
      <br>
    </h1>
    <h6 class="color-gold letter-spacing-1px">OU VRAIMENT BLEUS.</h6>

  <% elsif (Time.now.hour == 13) %> <!-- lunch -->
    <h1 class="font-family-DINpro font-size-14vh line-height-0dot9">
      <% if Time.now.min < 10 %>
        <%= Time.now.hour %>:0<%= Time.now.min %> IT'S TIME TO LUNCH
      <% else %>
        <%= Time.now.hour %>:<%= Time.now.min %> IT'S TIME TO LUNCH
      <% end %>
      <br>
      BON <%= "appétit".upcase %>!
    </h1>

  <% else %> <!-- open -->
    <h1 class="font-family-DINpro font-size-14vh line-height-0dot9">
      <% if (Time.now.min < 10) %>
        IL EST <%= Time.now.hour %>:0<%= Time.now.min %>:<%= Time.now.second %>
      <% else %>
        IL EST <%= Time.now.hour %>:<%= Time.now.min %>
      <% end %>
      <br>
      ET NOUS SOMMES OUVERTS.
      <br>
    </h1>
    <h6 class="color-gold letter-spacing-1p">OU BLEUS.</h6>
  <% end %>

<!--   <div class="d-flex justify-content-center pt-50px">
    <%#= image_tag "white-arrow-down.png", class: "mq-home-arrow height-45px" %>
  </div> -->
</div>
