<% if session[:color] == "black" %>
  <div class="midiquinze-footer height-8vh letter-spacing-1px position-fixed bottom-0 d-flex justify-content-between width-100pcminus200px width-100pc px-100px align-items-center">
    <div class="midiquinze-footer-address">
      <p class="m-0 font-size-11px">33 RUE DES PETITES ECURIES - PARIS 10.</p>
    </div>
    <div class="midiquinze-footer-social">
      <p class="m-0 link-white font-size-11px">
        <%= link_to "INSTAGRAM", "https://www.instagram.com/midi.quinze/", target: "_blank", class: "mx-7px hover-border-bottom-white text-decoration-none" %>
        /
        <%= link_to "FACEBOOK", "https://www.facebook.com/midiquinzeparis/", target: "_blank", class: "mx-7px hover-border-bottom-white text-decoration-none" %>
        /
        <%= link_to "LINKEDIN", "https://www.linkedin.com/company/midi-quinze/", target: "_blank", class: "mx-7px hover-border-bottom-white text-decoration-none" %>
      </p>
    </div>
  </div>
<% else %>
  <div class="midiquinze-footer height-8vh letter-spacing-1px position-fixed bottom-0 d-flex justify-content-between width-100pcminus200px width-100pc px-100px align-items-center">
    <div class="midiquinze-footer-address">
      <p class="m-0 font-size-11px">33 RUE DES PETITES ECURIES - PARIS 10.</p>
    </div>
    <div class="midiquinze-footer-social">
      <p class="m-0 link-black font-size-11px">
        <%= link_to "INSTAGRAM", "https://www.instagram.com/midi.quinze/", target: "_blank", class: "mx-7px hover-border-bottom-white text-decoration-none" %>
        /
        <%= link_to "FACEBOOK", "https://www.facebook.com/midiquinzeparis/", target: "_blank", class: "mx-7px hover-border-bottom-white text-decoration-none" %>
        /
        <%= link_to "LINKEDIN", "https://www.linkedin.com/company/midi-quinze/", target: "_blank", class: "mx-7px hover-border-bottom-white text-decoration-none" %>
      </p>
    </div>
  </div>
<% end %>
