<% if session[:color] == "black" %>
  <div class="midiquinze-footer height-8vh position-fixed bottom-0 d-flex justify-content-between width-100pcminus200px width-100pc px-100px align-items-center">
    <div class="midiquinze-footer-address">
      <p class="m-0">33 RUE DES PETITES ECURIES - PARIS 10.</p>
    </div>
    <div class="midiquinze-footer-social">
      <p class="m-0 link-white">
        <%= link_to "INSTAGRAM", root_path, class: "mx-7px hover-border-bottom-white text-decoration-none" %>
        /
        <%= link_to "FACEBOOK", root_path, class: "mx-7px hover-border-bottom-white text-decoration-none" %>
        /
        <%= link_to "LINKEDIN", root_path, class: "mx-7px hover-border-bottom-white text-decoration-none" %>
      </p>
    </div>
  </div>
<% else %>
  <div class="midiquinze-footer height-8vh position-fixed bottom-0 d-flex justify-content-between width-100pcminus200px width-100pc px-100px align-items-center">
    <div class="midiquinze-footer-address">
      <p class="m-0">33 RUE DES PETITES ECURIES - PARIS 10.</p>
    </div>
    <div class="midiquinze-footer-social">
      <p class="m-0 link-black">
        <%= link_to "INSTAGRAM", root_path, class: "mx-7px hover-border-bottom-black text-decoration-none" %>
        /
        <%= link_to "FACEBOOK", root_path, class: "mx-7px hover-border-bottom-black text-decoration-none" %>
        /
        <%= link_to "LINKEDIN", root_path, class: "mx-7px hover-border-bottom-black text-decoration-none" %>
      </p>
    </div>
  </div>
<% end %>
