<div class="midiquinze-navbar position-fixed mt-neg6px width-100pc d-flex justify-content-between px-100px background-color-black pb-24px z-index-100">
  <%= link_to root_path do %>
    <%= image_tag 'midiquinze-logo-white.png', class: "height-112px" %>
  <% end %>

  <div class="midiquinze-navbar-items d-flex align-items-end">
    <h5 class="color-white font-weight-400 m-0">
      <% if current_page?(projects_path) %>
        <%= link_to "WORK", projects_path, class: "mx-7px hover-border-bottom-white text-decoration-none color-white font-weight-700" %>
        <%= link_to "STUDIO", about_path, class: "mx-7px hover-border-bottom-white text-decoration-none color-ashgrey" %>
        <%= link_to "CONTACT", contact_path, class: "mx-7px hover-border-bottom-white text-decoration-none color-ashgrey" %>
      <% elsif current_page?(about_path) %>
        <%= link_to "WORK", projects_path, class: "mx-7px hover-border-bottom-white text-decoration-none color-ashgrey" %>
        <%= link_to "STUDIO", about_path, class: "mx-7px hover-border-bottom-white text-decoration-none color-white font-weight-700" %>
        <%= link_to "CONTACT", contact_path, class: "mx-7px hover-border-bottom-white text-decoration-none color-ashgrey" %>
      <% elsif current_page?(contact_path) %>
        <%= link_to "WORK", projects_path, class: "mx-7px hover-border-bottom-white text-decoration-none color-ashgrey" %>
        <%= link_to "STUDIO", about_path, class: "mx-7px hover-border-bottom-white text-decoration-none color-ashgrey" %>
        <%= link_to "CONTACT", contact_path, class: "mx-7px hover-border-bottom-white text-decoration-none color-white font-weight-700" %>
      <% else current_page?(root_path) %>
        <%= link_to "WORK", projects_path, class: "mx-7px hover-border-bottom-white text-decoration-none color-white" %>
        <%= link_to "STUDIO", about_path, class: "mx-7px hover-border-bottom-white text-decoration-none color-white" %>
        <%= link_to "CONTACT", contact_path, class: "mx-7px hover-border-bottom-white text-decoration-none color-white" %>
      <% end %>
    </h5>

    <div class="color-button-white height-13px width-13px border-radius-50pc mb-5px ml-7px mr-7px"></div>
  </div>
</div>
