<div id="about-accordion" class="accordion mb-100px mt-50px" >

  <div id="headingOne" class="hover-text-decoration-underline-cursor-pointer">
    <h1 class="font-family-DINpro font-size-34px" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      TEAM
    </h1>
  </div>
  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#about-accordion"> <!-- add class show if needed -->
    <div class="mb-24px">
      <% @members.each do |member| %>
        <p class="letter-spacing-1px line-height-1dot2em m-0"><span><%= member.name.upcase %></span>  /  <span class="font-size-11px"><%= member.role.upcase %></span></p>
      <% end %>
    </div>
  </div>

  <div id="headingTwo" class="hover-text-decoration-underline-cursor-pointer">
    <h1 class="font-family-DINpro font-size-34px" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      CLIENTS
    </h1>
  </div>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#about-accordion">
    <div class="mb-24px">
      <p class="letter-spacing-1px">
        <% @clients.each do |client| %>
          <%= link_to root_path(anchor: client.projects.empty? ? "" : "#{client.projects.first.slug}"), class: "color-#{opposite_color} hover-color-gold-text-decoration-none" do %>
            <%= client.name.upcase %>
          <% end %>
          <%= "/" unless client == @clients.last %>
        <% end %>
      </p>
    </div>
  </div>

  <div id="headingThree" class="hover-text-decoration-underline-cursor-pointer">
    <h1 class="font-family-DINpro font-size-34px" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      CONTACT
    </h1>

  </div>

  <%= render partial: 'pages/about/accordion_contact', locals: {opposite_color: @opposite_color} %>

</div>
