<div id="mq-home">
  <div class="slide page-0 height-100vh pl-100px pr-100px pt-18vh pb-8vh" data-number="0" data-project="not-a-project">
    <%= render 'pages/home/messages' %>
  </div>

  <% @projects.each_with_index do |project, index| %>
    <div class="d-flex" style="width: max-content;">
      <div id="<%= project.slug %>" class="slide page-<%= index + 1%> height-100vh pl-100px pr-100px pt-18vh pb-8vh position-relative" data-number="<%= index + 1 %>" data-project="<%= project.client.name %>">
        <div class="picture-slide width-100vwminus200px" style="height: calc(100vh - 8vh - 18vh); background-image: url('<%= rails_blob_url(project.cover) %>'); background-position: center; background-size: cover;">
          <div>
            <%= image_tag "mq-plus.png" %>
          </div>
        </div>
      </div>

      <% project.photos.each do |project_photo| %>
        <div class="slide height-100vh pl-100px pr-100px pt-18vh pb-8vh">
          <div class="picture-slide width-100vwminus200px" style="height: calc(100vh - 8vh - 18vh); background-image: url('<%= rails_blob_url(project_photo) %>'); background-position: center; background-size: cover;">

          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
