<main id="mq-home" class="width-100pc" data-color="<%= @color %>" data-project-count="<%= @projects.size %>">
  <div class="cover0 vertical-snap height-100vh pl-100px pr-100px" data-number="0" data-project="not-a-project" data-project-name="">
    <%= render partial: 'pages/home/messages', locals: { opposite_color: @opposite_color } %>
  </div>

  <%= render partial: 'pages/home/desktop/projects', locals: { projects: @projects } %>
</main>

<main id="mq-home-mobile">
  <%= render partial: 'pages/home/mobile/mobile_projects', locals: { projects: @projects } %>
</div>

<div class="hour">
  <%= render "shared/hour" %>
</div>
