<main id="mq-home" class="width-100pc" data-color="<%= @color %>" data-project-count="<%= @projects.size %>">

  <div class="hi hi-vertical d-flex">

    <% @projects.each_with_index do |project, project_index| %>
      <section id="<%= project.slug %>" class="horizontal-snap slide cover<%= project_index + 1 %> page-<%= project_index + 1 %> pano0-<%= project.slug %> height-100vh pl-100px pr-100px" data-number="<%= project_index + 1 %>" data-project="<%= project.slug %>" data-button="cover<%= project_index %>" data-pano-index="0">
        <div class="picture-slide mt-18vh position-relative width-100vwminus200px" style="height: calc(100vh - 8vh - 18vh); background-image: url('<%= rails_blob_url(project.cover) %>'); background-position: center; background-size: cover;">

        </div>
      </section>

      <% project.photos.each_with_index do |project_photo, index| %>
        <section class="horizontal-snap slide pano<%= index + 1 %>-<%= project.slug %> height-100vh pb-8vh pl-100px pr-100px pt-18vh" data-button="pano<%= index %>" data-project="<%= project.slug %>" data-number="<%= project_index + 1 %>" data-pano-index="<%= index + 1%>" data-pano-count="<%= project.photos.count %>" style="padding-left: 64px;">
          <div class="picture-slide position-relative ml-neg128px width-100vwminus200px" style="height: calc(100vh - 8vh - 18vh); background-image: url('<%= rails_blob_url(project_photo) %>'); background-position: center; background-size: cover;">

            <%= image_tag "mq-plus.png", id: "openbtn-#{project.slug}-pano#{index}", class: "openbtn cursor-pointer height-24px position-absolute right-2andhalfpc top-24px height-24px" %>

            <%= render partial: 'pages/home/desktop/project_photos/project_photos_overlay', locals: {project: project, index: index, opposite_color: @opposite_color, color: @color} %>

          </div>
        </section>
      <% end %>
    <% end %>

  </div>

</main>


