<% projects.each_with_index do |project, project_index| %>
  <div id="projects-map" class="d-flex" style="width: max-content;">
    <div id="<%= project.slug %>" class="slide cover<%= project_index + 1 %> page-<%= project_index + 1 %> pano0-<%= project.slug %> height-100vh pl-100px pr-100px pt-18vh pb-8vh" data-number="<%= project_index + 1 %>" data-project="<%= project.slug %>" data-button="cover<%= project_index %>" data-pano-index="0">
      <div class="picture-slide position-relative width-100vwminus200px" style="height: calc(100vh - 8vh - 18vh); background-image: url('<%= rails_blob_url(project.cover) %>'); background-position: center; background-size: cover;">


        <%= image_tag "mq-plus.png", id: "openbtn-#{project.slug}-cover#{project_index}", class: "openbtn cursor-pointer height-24px position-absolute right-30px top-24px height-24px" %>

        <%= render partial: 'pages/home/desktop/projects/projects_overlay', locals: { project: project, project_index: project_index, background_color: @background_color, opposite_color: @opposite_color, color: @color } %>

      </div>
    </div>

    <%= render partial: 'pages/home/desktop/project_photos', locals: {project: project, project_index: project_index} %>

  </div>
<% end %>
