<% project.photos.each_with_index do |project_photo, index| %>
  <div class="slide pano<%= index + 1 %>-<%= project.slug %> height-100vh pb-8vh pl-100px pr-100px pt-18vh" data-button="pano<%= index %>" data-project="<%= project.slug %>" data-number="<%= project_index + 1 %>" data-pano-index="<%= index + 1%>" data-pano-count="<%= project.photos.count %>" style="padding-left: 64px;">
    <div class="picture-slide position-relative ml-neg128px width-100vwminus200px z-index-100" style="height: calc(100vh - 8vh - 18vh); background-image: url('<%= rails_blob_url(project_photo) %>'); background-position: center; background-size: cover;">

      <%= image_tag "mq-plus.png", id: "openbtn-#{project.slug}-pano#{index}", class: "openbtn cursor-pointer height-24px position-absolute right-2andhalfpc top-24px height-24px" %>

      <%= render partial: 'pages/home/desktop/project_photos/project_photos_overlay', locals: {project: project, index: index, opposite_color: @opposite_color, color: @color} %>

    </div>
  </div>
<% end %>
