<div class="midiquinze-navbar-mobile d-flex align-items-end justify-content-around position-fixed pb-8vh width-100vw z-index-100 <%= current_page?(about_path) ? "background-color-#{color}" : "" %>">
  <%= link_to root_path, class: "" do %>
    <%= image_tag "mq_logo_#{opposite_color}.png", class: "height-8vh width-56vw" %>
    <%#= image_tag session[:color] == "black" ? "mq_logo_#{white}.png" : "mq_logonoir.png", class: "height-8vh width-56vw" %>
  <% end %>

  <%= image_tag "mq_burger_#{opposite_color}.png", id: "burger-openbtn", class: "height-1dot3em" %>

  <%= render partial: 'shared/navbar/mobile/mobile_navbar/mobile_navbar_overlay', locals: { color: @color, opposite_color: @opposite_color } %>
</div>
