<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <% if current_page?(root_path) && session[:color].nil? %>
    <% session[:color] = "black" %>
  <% end %>
  <body id="scroll-page" class="<%= @colors %>">
    <% if current_page?(root_path) && session[:visited_before].nil? %>
      <div id="midiquinze-gif-loader" class="background-color-black height-100vh text-align-center">
        <%= image_tag "loader-midiquinze.gif", class: "loader height-400px margin-top-10pc" %>
      </div>
    <% end %>
    <%#= render 'shared/flashes' %>
    <div id="midiquinze-main" class="<%= (current_page?(root_path) && session[:visited_before].nil?) ? 'display-none' : '' %>">
      <%= render 'shared/navbar' %>
      <div class="pl-100px pr-100px pt-134px">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
